{% load static %}<!DOCTYPE HTML>

<html>
	<head>
		<title>Conseils à propos du phishing !</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body>
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<div class="container"> 
					
					<!-- Logo -->
					<div id="logo">
						<h1><a href="#">Awarephish</a></h1>
						<span class="font-weight-bolder">Pour ne pas tomber dans le piège !</span>
					</div>
					
					
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{% url 'index'%}">page d'accueil</a></li>
							<li class="active"><a href="{% url 'conseils' %}">conseils</a></li>
							<li><a href={% if user.is_authenticated %}"{% url 'phishquiz' %}"{% else %}{% url 'signin' %} onclick="return confirm('Vous devez être connecté')"{% endif%}>testez-vous</a></li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'account' %}">Compte</a></li>
								{% else %}
									<a href="{% url 'signup' %}">S'inscrire</a>
								{% endif%}
							</li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'signout' %}">Se déconnecter</a>
								{% else %}
									<a href="{% url 'signin' %}">Se connecter</a>
								{%endif%}
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /Header -->
				
			<div id="page">
				<div class="container">
					<div class="row">
						<div class="12u skel-cell-important">
							<article>
							<section id="content">
								<header><strong><h2>conseils</h2></strong></header>
								<button type="button" class="font-weight-bolder btn btn-info" data-toggle="collapse" data-target="#dev{{dev.id}}" id=de{{dev.id}}>
									Vous n'avez pas le temps ? Regardez cette vidéo ! 								</button>
								<div id="dev" class="collapse">
									<iframe width="853" height="480" src="https://www.youtube.com/embed/R12_y2BhKbE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<hr><br>
								<p>Si vous recevez un message qui contient des liens ou des pièces jointes, ou un coup de téléphone qui vous semble suspect,
								essayez de répondre à ces questions avant de commencer à réagir.</p>

								<ul><li><strong>Vous attendiez ce message ou ce coup de téléphone ?</strong></li>
								</ul><p>Si vous recevez sans raison un message de ce correspondant, si vous n’avez rien acheté, si vous n'êtes pas client de cette banque, etc.
								Alors, il faut vérifier l'authenticité du message.</p>
								
								<ul><li> <strong>Connaissez-vous l’expéditeur ?</strong></li>
								</ul><p>Si le message semble provenir d'une personne ou d'une agence que vous connaissez (votre patron, votre ami, votre banque,...),
								contrôlez l’adresse e-mail et vérifiez si elle est la même adresse utilisée par la personne que vous connaissez, 
								et si cette adresse ne contient pas des fautes d’orthographe. Autrement, c'est fort probable qu'il s'agit d'un message de phishing.
								Mais attention, une adresse e-mail légitime n’offre toujours pas de garanties quant à la véracité de l’e-mail.</p>

								<ul><li><strong>Le message a-t-il un caractère alarmiste ?</strong></li>
								</ul><p>Si le message contient des expressions comme "Votre compte expire bientôt", "C'est urgent, vous devez réinitialiser votre mot de passe
								le plus tôt possible", ou si c'est un message de votre patron qui vous demande de faire un virement bancaire urgent alors c'est un email suspect.
								Ainsi, gardez votre sang-froid et prenez votre temps pour vérifier l'authenticité de l'expéditeur.</p> 
								
								<ul><li><strong>Le message joue-t-il sur vos émotions ?</strong></li>
								</ul><p>Si vous recevez un message profitant de vos sentiments et qui contient des expressions comme "Félicitations.
								Vous avez gagné un iPhone X. Cliquez sur le lien pour obtenir votre cadeau", ou "Nous regrettons de vous informer que votre compte PayPal a été piraté.
								Pour éviter toute perte financière, vous devez cliquer sur le lien et réinitialiser votre mot de passe immédiatement avant que les pirates
								peuvent voler votre argent". Alors, il faut vérifier l'authenticité de ce message avant de commencer à réagir.</p>
								
								<ul><li><strong>Est-ce que quelqu’un essaie d'éveiller votre curiosité ?</strong></li>
								</ul><p>En recevant des messages comprenant un lien dont le titre est « Regardez ce que j’ai lu sur vous… » ou
								« Est-ce bien vous sur cette photo ? », il est naturel d'être curieux. Mais attaention, ne tombez surtout pas dans le panneau.</p>
								
								<ul><li><strong>Où mène le lien sur lequel on vous incite à cliquer ?</strong></li>
								</ul><p>C'est très important. Placez votre curseur sur le lien sans cliquer. Le nom de domaine, c'est-à-dire le mot qui précède .be, .com, .eu,
								.org et la première barre oblique « / », correspond-il réellement au nom de l’organisation ? 
								Par exemple, dans le lien www.phishing.conseils.be/phishing, le domaine est « conseils »,
								ce lien vous dirige vers un site Internet différent .<br />


								<ul><li><strong> Est-ce que le message est mal orthographié ?</strong></li>
								</ul><p>Si le message contient des erreurs d'orthographe ou des fautes de grammaire, alors, faites attention,
								il est peut être un message de phishing. En effet, même si les cybercriminels malins s’efforcent d’utiliser 
								un langage correct, des fautes ou l’emploi d’une langue étrangère peuvent être le signe d’un message suspect. </p>
								
								
								<ul><li><strong>Est-ce que l’e-mail s’adresse à vous personnellement ?</strong> </li>
								</ul><p>Il vaut mieux se méfier des messages dont le titre général est vague ou dont le titre est votre adresse e-mail.</p>


								<ul><li><strong>Le message se trouve-t-il dans votre dossier Spam/Junk/Indésirables ? </strong></li>
								</ul><p>Si oui, soyez particulièrement prudents. Vous pouvez marquer vous-mêmes un message suspect comme « Spam » ou « Junk » ou
								« Indésirable » et avertir ainsi d’autres utilisateurs.</p>

		
								<h3><strong>Que faire en cas où vous avez des doutes?</strong></h3>
								<p> Si le message vous parait frauduleux, vous devez éviter de cliquer sur les liens et d'insérer vos informations ou de télécharger les pièces jointes.
								Il est préférable de chercher le site via un moteur de recherche et de ne transférer pas le lien à vos contacts.
								De plus, si le message est envoyé par une personne que vous connaissez, il serait important de la questionner s'elle est bien l'expéditeur:
									<ul class="style1">
										<li class="first"> &#x25cf S’il s’agit d’un ami, vous pouvez l’appeler, envoyer un SMS ou envoyer un message via les réseaux sociaux.</li>
									<li class="first">&#x25cf Si le message ne provient pas de votre ami, prévenez-le que son compte a été piraté.
									Sur certains réseaux sociaux, vous pouvez signaler des messages.</li>
									<li class="first">&#x25cf S’il s’agit d’une organisation ou d’une entreprise, allez sur leur site et contrôlez si l’action « urgente » dont il est question existe
									réellement. Si vous ne trouvez rien, vous pouvez toujours leur téléphoner.</li>
									</ul>
								</p>
								<h3><strong>Et si vous êtes déja tombé dans le piège?</strong></h3>	 
								<p><ul class="style3">
									<li class="first">&#x25cf Si vous avez communiqué un mot de passe que vous utilisez pour d’autres sites, modifiez-le immédiatement.</li>
									<li class="first">&#x25cf Si vous avez communiqué vos coordonnées de votre carte bancaire, prévenez immédiatement votre banque .</li>
									<li class="first">&#x25cf Si vous avez fait un virement bancaire ou communiqué vos données bancaires ou les pirates ont pu accéder aux vos informations intimes, vous pouvez toujours déclarer.
								
								</ul>En effet, la RAT, Recovery Asset Team, a aidé, entre 2018 et 2019, à récupérer plus de 300 millions de dollars perdus à la suite d'arnaques en ligne, pour un taux de retour de 79% des pertes signalées.</li>
								</p>
								
								<p>Passez notre test de phishing pour savoir si vous vous laisseriez prendre au piège par des cybercriminels.
								Vous pouvez aussi suivre une formation pour améliorer vos connaissances.</p>
								<p> Alors, <a href="{% url 'level-quiz' %}" class="btn-primary btn"> testez-vous !! </a> 
							</section>
						</article>
						</div>
					</div>
				</div>
			</div>
		  <!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="3u">
							<section id="box1">
								<header>
									<h2>actualités</h2>		
								</header>
								<ul class="style3">
									<li class="first">
										<p class="date"><a href="#">FBI 2019 </a></p>
										<p><a href="https://pdf.ic3.gov/2019_IC3Report.pdf">FBI internet crime report </a></p>
									</li>
								</ul>
							</section>
						</div>
						<div class="5u">
							<section id="box2">
								<header>
									
								</header>
								<div> <a href="#" class="image full"><img src="" alt=""></a> </div>
							</section>
						</div>
						<div class="4u">
							<section id="box3">
								<header>
									<h2>des articles externes</h2>
								</header>
								<ul class="style1">
									<li class="first"><a href="https://fr.malwarebytes.com/phishing/">Qu'est-ce que l'hameçonnage ? Types et exemples d'attaques par hameçonnage</a></li>
									<li><a href="https://www.kaspersky.fr/resource-center/definitions/spear-phishing">Qu'est-ce que le phishing ciblé ?</a></li>
									<!--<li><a href="#">Phasellus nec dictum metus in sapien pellentesque congue.</a></li>
									<li><a href="#">Cras vitae metus aliquam risus dictum metus in sapien pharetra.</a></li>
									<li><a href="#">Duis non dictum metus in sapien ante in metus commodo euismod lobortis.</a></li> -->
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="{%static 'quiz/js/skel.min.js' %}"></script>
		<script src="{%static 'quiz/js/skel-panels.min.js' %}"></script>
		<script src="{%static 'quiz/js/init.js' %}"></script>
		<script type="text/JavaScript">
			$('p').attr('style','text-align:justify');
		</script>
	</body>
</html>