{% load static %}<!DOCTYPE HTML>

<html>
	<head>
		<title>Conseils à propos du phishing !</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{%static 'quiz/js/skel.min.js' %}"></script>
		<script src="{%static 'quiz/js/skel-panels.min.js' %}"></script>
		<script src="{%static 'quiz/js/init.js' %}"></script>
		
		<noscript>
			<link rel="stylesheet" href="{% static 'quiz/css/skel-noscript.css' %}" />
			<link rel="stylesheet" href="{% static 'quiz/css/style.css'%}" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body>
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<div class="container"> 
					
					<!-- Logo -->
					<div id="logo">
						<h1><a href="{% url 'index'%}">AwarePhish</a></h1>
						<span>Pour ne pas tomber dans le piège !</span>
					</div>
					
					
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{% url 'index'%}">page d'accueil</a></li>
							<li class="active"><a href="{% url 'conseils' %}">conseils</a></li>
							<li><a href="phishing-quiz.html">testez-vous</a></li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'account' %}">Compte</a></li>
								{% else %}
									<a href="{% url 'signup' %}">S'inscrire</a>
								{% endif%}
							</li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'signout' %}">Se déconnecter</a>
								{% else %}
									<a href="{% url 'signin' %}">Se connecter</a>
								{%endif%}
							</li>
						</ul>
					</nav>
				</div>
			</div>
		<p>Le phishing est une escroquerie en ligne à l'aide de faux e-mails, sites Internet ou messages. Comment reconnaître ces faux e-mails et faire la distinction entre les faux et les vrais messages ? Des cybercriminels habiles arriveront à vous faire douter. Vous trouverez ici quelques conseils pour vous aider à juger si vous pouvez faire confiance à un message ou non.</p>

		<h2>Le principe de base</h2>

<p>Les cybercriminels tentent toujours d'exploiter votre crédulité ou d'abuser de votre confiance en certaines personnes. Souvent, ils essaient aussi de profiter de la peur. Ne vous laissez pas berner !</p>

<h3>Nos conseils</h3>

<p>Un e-mail ou un coup de téléphone vous semble suspect ? Alors répondez aux questions suivantes :</p>

<ul><li><strong>Est-ce inattendu ?</strong></li>
</ul><p>Vous recevez sans raison un message de ce correspondant ; vous n’avez rien acheté, vous n’avez plus eu de contacts depuis longtemps, etc. C'est une raison valable pour être vigilant et vérifier l'authenticité du message.</p>

<ul><li><strong>Est-ce urgent ?</strong></li>
</ul><p>Gardez votre sang-froid ; avez-vous réellement reçu une première sommation de payer ? Connaissez-vous vraiment ce prétendu « ami en difficulté » ?</p>

<ul><li><strong>Connaissez-vous l’expéditeur ?</strong></li>
</ul><p>Contrôlez l’adresse e-mail, vérifiez si elle contient des fautes d’orthographe. Mais attention, une adresse e-mail légitime n’offre toujours pas de garanties quant à la véracité de l’e-mail.</p>

<ul><li><strong>La question qui vous est posée vous semble-t-elle étrange ?</strong></li>
</ul><p>Une instance officielle ne vous demandera jamais de transmettre par e-mail, SMS ou téléphone votre mot de passe, vos coordonnées bancaires ou vos données personnelles. </p>

<ul><li><strong>Où mène le lien sur lequel on vous incite à cliquer ?</strong></li>
</ul><p>Placez votre curseur sur le lien sans cliquer. Le nom de domaine, c'est-à-dire le mot qui précède .be, .com, .eu, .org et la première barre oblique « / », correspond-il réellement au nom de l’organisation ?<br />
Exemple :</p>

<ul><li>Dans le lien www.safeonweb.be/conseils, le domaine est « safeonweb ».</li>
	<li>Dans le lien www.safeonweb.conseils.be/safeonweb, le domaine est « conseils »  ; ce lien vous dirige vers un site Internet différent.</li>
</ul><ul><li><strong>Est-ce que l’e-mail s’adresse à vous personnellement ?  </strong></li>
</ul><p>Il vaut mieux se méfier des messages dont le titre général est vague ou dont le titre est votre adresse e-mail.</p>

<ul><li><strong>Le message contient-il beaucoup de fautes d'orthographe ou de grammaire ?</strong></li>
</ul><p>Même si les cybercriminels malins s’efforcent d’utiliser un langage correct, des fautes ou l’emploi d’une langue étrangère peuvent être le signe d’un message suspect.</p>

<ul><li><strong>Le message se trouve-t-il dans votre dossier Spam/Junk/Indésirables ?</strong></li>
</ul><p>Si oui, soyez particulièrement prudents. Vous pouvez marquer vous-mêmes un message suspect comme « Spam » ou « Junk » ou « Indésirable » et avertir ainsi d’autres utilisateurs.</p>

<ul><li><strong>Est-ce que quelqu’un essaie d'éveiller votre curiosité ?</strong></li>
</ul><p>En recevant des messages comprenant un lien dont le titre est « Regardez ce que j’ai lu sur vous… » ou « Est-ce bien vous sur cette photo ? », il est naturel d'être curieux. Mais ne tombez surtout pas dans le panneau.</p></div>
      
      </div>

                <div class="paragraph paragraph--type--text paragraph--view-mode--default">
          
            <div class="field field--name-field-title field--type-string field--label-hidden field__item">Et en cas de doute ?</div>
      
            <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"><p>Mieux vaut faire preuve de prudence. Si vous avez le moindre doute concernant un message, n’ouvrez pas les liens ou pièces jointes et contactez l’expéditeur d’une autre manière :</p>

<ul><li>S’il s’agit d’<strong>un ami</strong>, vous pouvez l’appeler, envoyer un SMS ou envoyer un message via les réseaux sociaux. Si le message ne provient pas de votre ami, prévenez-le que son compte a été piraté. Sur certains réseaux sociaux, vous pouvez signaler des messages.</li>
	<li>S’il s’agit d’<strong>une organisation ou d’une entreprise</strong>, allez sur leur site et contrôlez si l’action « urgente » dont il est question existe réellement. Si vous ne trouvez rien, vous pouvez toujours leur téléphoner.</li>
</ul><p>Faites notre Test Phishing pour découvrir si vous vous laisseriez prendre au piège par des cybercriminels. Vous n'apprendrez pas seulement si vous reconnaissez facilement la fraude sur Internet, mais à l’issue du test vous disposerez aussi de nombreux conseils pratiques pour éviter de tomber dans le panneau.</p>

<p>Reconnaissez-vous les mails frauduleux? <a href="/fr/quiz/test-du-phishing">Faites le test! </a></p>

<p>Une nouvelle forme de fraude en ligne circule via les sms ! Cette forme de phishing porte même un nom, <a href="https://www.safeonweb.be/fr/actualite/vous-avez-deja-entendu-parler-de-smishing-ou-de-faux-messages-texte">le « <strong>smishing</strong> » ou le SMS-phishing.</a></p></div>
      
      </div>

                <div class="paragraph paragraph--type--image paragraph--view-mode--default">
          
            <div class="field field--name-field-image field--type-image field--label-hidden field__item">  <img src="/sites/default/files/styles/maxwidth_1200/public/GDPR%20phishing_anoniem_1.png?itok=zMGbeyIi" width="710" height="484" alt="Phishing e-mail" typeof="foaf:Image" class="image-style-maxwidth-1200" />


</div>
      
            <div class="field field--name-field-paragraaf-opties field--type-list-string field--label-hidden field__item">rechts uitlijnen</div>
      
      </div>

                <div class="paragraph paragraph--type--text paragraph--view-mode--default">
          
            <div class="field field--name-field-title field--type-string field--label-hidden field__item">Que faire si vous recevez un faux message?</div>
      
            <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"><ul><li><strong>Transférez le message à <a href="/cdn-cgi/l/email-protection#d6f6a5a3a5a6b3b5a296a5b7b0b3b9b8a1b3b4f8b4b3"><span class="__cf_email__" data-cfemail="84f7f1f7f4e1e7f0c4f7e5e2e1ebeaf3e1e6aae6e1aa">[email&#160;protected]</span></a></strong></li>
	<li>Ne cliquez pas sur le lien.  Cherchez le site via un moteur de recherche.</li>
	<li>Ne transférez pas le lien à vos contacts.</li>
	<li>Ne complétez certainement pas vos données personnelles.</li>
	<li>Vous pouvez aussi l’envoyer à l’organisation concernée.</li>
</ul><p> </p>

<ul></ul></div>
      


                <div class="paragraph paragraph--type--text paragraph--view-mode--default">
          
            <div class="field field--name-field-title field--type-string field--label-hidden field__item">Trop tard ! Vous avez déjà communiqué vos données ?</div>
      
            <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"><ul><li>Prévenez vos amis que vous leur avez envoyé un faux message.</li>
	<li>Si vous avez communiqué un mot de passe que vous utilisez pour d’autres sites, modifiez-le immédiatement.</li>
	<li>Si vous avez communiqué vos coordonnées de votre carte de crédit, prévenez immédiatement Cardstop (<a href="https://cardstop.be/">www.cardstop.be</a> ou 070 344 344).</li>
</ul></div>

	</body>
</html>