{% load static%}<!DOCTYPE HTML>
<!--
	Synchronous by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Synchronous by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body>
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<div class="container"> 
					
					<!-- Logo -->
					<div id="logo">
						<h1><a href="{% url 'index'%}">AwarePhish</a></h1>
						<span class="font-weight-bolder">Pour ne pas tomber dans le piège !</span>
					</div>
					
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{% url 'index'%}">page d'accueil</a></li>
							<li><a href="{% url 'conseils' %}">conseils</a></li>
							<li><a href={% if user.is_authenticated %}"{% url 'phishquiz' %}"{% else %}{% url 'signin' %} onclick="return confirm('Vous devez être connecté')"{% endif%}>testez-vous</a></li>
							<li class="active">
								{% if user.is_authenticated %}
									<a href="{% url 'account' %}">Compte</a></li>
								{% else %}
									<a href="{% url 'signup' %}">S'inscrire</a>
								{% endif%}
							</li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'signout' %}">Se déconnecter</a>
								{% else %}
									<a href="{% url 'signin' %}">Se connecter</a>
								{%endif%}
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /Header -->
			
			<div id="page">
				<div class="container">
					<div class="row">
						<div class="1u">
							<section id="box1">.</section>
						</div>
						<div class="2u">
							<section id="sidebar1" >
								<header>
									<h2>compte</h2>
								</header>
								<div class="btn-group-vertical">
									<a class="btn btn-dark" href="{% url 'account' %}">Infos</a>
									<a class="btn  btn-info active" href="{% url 'homework' %}">Devoirs</a>
									<a class="btn btn-dark " href="{% url 'progress' %}">Progrès</a>
									<a class="btn btn-dark " href="{%url 'parametre'%}">Paramètres</a>
									
								</div>
							</section>
						</div>	
						
						<div class="9u skel-cell-important">
							<section id="content">
								{% for dev in devoir%}

									{% if dev.type_devoir == "texte" %}
										
											<div class="row">
												<div class="col-auto">
												<a class="badge font-weight-bold badge-warning badge-pill" id="dev{{dev.id}}" target="_blank" href="http://{{dev.texte}}">Consultez cet article</a><p class="font-weight-bold">Durée estimée :{{dev.duree}} minutes</p>
												</div>
											</div>
										
										<hr>
									{% else %}
									
											<button type="button" class="font-weight-bolder btn btn-warning" data-toggle="collapse" data-target="#dev{{dev.id}}" id=de{{dev.id}}>
												Consultez cette vidéo : (durée estimée {{dev.duree}} min )
											</button>
											<div id="dev{{dev.id}}" class="collapse">
												<iframe width="700" height="480" src="{{dev.texte}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</div>
									
									<hr>	
									{% endif %}
								{% endfor%}
							</section>
						</div>
						
					</div>
				</div>	
			</div>


			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="5u">
							<section id="box1">
								<header>
									<h2>Contact</h2>		
								</header>
								<ul class="style3">
									<li class="first">
										<p class="btn fa fa-envelope"> Envoyer un mail</p></li>
										<li class="first"><p class="fa btn fa-facebook"> Page facebook</a ></p>
									</li>
								</ul>
							</section>
						</div>
						<div class="3u">
							<section id="box2">
								<header>
									
								</header>
								<div> <a href="#" class="image full"><img src="" alt=""></a> </div>
							</section>
						</div>
						<div class="4u">
							<section id="box3">
								<header>
									<h2>articles externes</h2>
								</header>
								<ul class="style1">
									<li class="first"><a href="https://fr.malwarebytes.com/phishing/">Qu'est-ce que l'hameçonnage ? Types et exemples d'attaques par hameçonnage</a></li>
									<li><a href="https://www.kaspersky.fr/resource-center/definitions/spear-phishing">Qu'est-ce que le phishing ciblé ?</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="{%static 'quiz/js/skel.min.js' %}"></script>
		<script src="{%static 'quiz/js/skel-panels.min.js' %}"></script>
		<script src="{%static 'quiz/js/init.js' %}"></script>
		<script type="text/JavaScript">
		$(document).ready(function(){
			let buttons = JSON.parse(localStorage.getItem("{{user}}"));
			for (let [key,value] of Object.entries(buttons))
			{
				$(key).attr("class", value);
			}
		});
		$("button").click( function() {
			$(this).addClass('btn-success').removeClass('btn-warning');
			let devoirId = "#"+$(this).attr('id');
			let classe = $(this).attr('class');
			let dict_user = $.extend({},JSON.parse(localStorage.getItem("{{user}}")), {[devoirId]:classe});
			localStorage.setItem("{{user}}",JSON.stringify(dict_user));
		});
		$(".col-auto a").click( function() {
			$(this).addClass('badge-success').removeClass('badge-warning');
			let devoirId = "#"+$(this).attr('id');
			let classe = $(this).attr('class');
			let dict_user = $.extend({},JSON.parse(localStorage.getItem("{{user}}")), {[devoirId]:classe});
			localStorage.setItem("{{user}}",JSON.stringify(dict_user));
		});
		</script>
	</body>
</html>