{% load static %}<!DOCTYPE HTML>
<html>
	<head>
		<title>Bienvenue !</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{%static 'quiz/js/skel.min.js' %}"></script>
		<script src="{%static 'quiz/js/skel-panels.min.js' %}"></script>
		<script src="{%static 'quiz/js/init.js' %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static 'quiz/css/skel-noscript.css' %}" />
			<link rel="stylesheet" href="{% static 'quiz/css/style.css'%}" />
			
		</noscript>
	</head>
	<body class="homepage">
		<div id="wrapper">
			<div id="header">
				<div class="container"> 
					
					<!-- Logo -->
					<div id="logo">
						<h1><a href="{% url 'index'%}">AwarePhish</a></h1>
						<span>Pour ne pas tomber dans le piège !</span>
					</div>
					
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="active"><a href="{% url 'index'%}">page d'accueil</a></li>
							<li><a href="{% url 'conseils' %}">conseils</a></li>
							
							<li><a href={% if user.is_authenticated %}"{% url 'phishquiz' %}"{% else %}{% url 'signin' %} onclick="return confirm('Vous devez être connecté')"{% endif%}>testez-vous</a></li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'account' %}">Compte</a></li>
								{% else %}
									<a href="{% url 'signup' %}">S'inscrire</a>
								{% endif%}
							</li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'signout' %}">Se déconnecter</a>
								{% else %}
									<a href="{% url 'signin' %}">Se connecter</a>
								{%endif%}
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /Header -->
			
			<div id="page">
				<div class="container">
					<div class="row">
						<div class="3u">
							<section id="sidebar1">
								<header>
									<h2>Quelques chiffres</h2>
								</header>
								<ul class="style3">
									<li class="first">
										<p class="date">156 millions</p>
										<p>de courriels d’hameçonnage sont envoyés chaque jour</p>
									</li>
									<li>
										<p class="date">16 millions</p>
										<p>de courriels d’hameçonnage parviennent à déjouer les filtres.</p>
									</li>
									<li>
										<p class="date">8 millions </p>
										<p>de courriels d’hameçonnage sont finalement ouverts.</p>
									</li>
									<li>
										<p class="date">800 000 liens </p>
										<p>sont cliqués par les destinataires.</p>
									</li>
									<li>
										<p class="date">80 000 personnes </p>
										<p>mordent à l’hameçon et partagent leurs renseignements personnels.</p>
									</li>
								</ul>
							</section>
						</div>
						<div class="6u skel-cell-important">
							<section id="content" >
								<header>
									<h2>C'est quoi le Phishing ? </h2>
								</header>
								<p>Le <strong>Phishing</strong> est l’envoi de faux courriels non sollicités dans lesquels on demande aux destinataires,
								sous différents prétextes, de cliquer sur un lien menant vers un faux site Web ou d’ouvrir une pièce jointe malveillante.
								Le pirate y récupère les renseignements fournis et les utilise pour détourner des fonds à son avantage.
								Le faux site Web, tout comme le courriel, semble authentique,
								car il est souvent une copie conforme du site de l’institution financière ou de l’entreprise. 
								<p>La raison principale pour laquelle ces attaques sont si réussies,
                                   c’est les utilisateurs eux-mêmes, puisque la plupart d’entre eux n’est pas suffisamment
                                   formé sur la façon de reconnaître le phishing. Ainsi, notre site web vise la sensibilisation aux menaces du phishing pour minimiser les pertes.
								   nous vous proposons de prendre le test de niveau, pour tester vos connaissances et savoir jusqu'à quel point vous êtes capables à determiner si un mail
								   est frauduleux. Nous vous proposerons aussi des devoirs à faire pour que vous puissiez améliorer vos connaissances sur ce sujet.
								   
								<a href="{%url 'conseils'%}" class="button">Lire nos conseils</a>
								<a href="{% url 'level-quiz' %}" class="button">Prendre le test de niveau</a>
							</section>
						</div>
					</div>

				</div>	
			</div>

			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="3u">
							<section id="box1">
								<header>
									<h2>actualités</h2>		
								</header>
								<ul class="style3">
									<li class="first">
										<p class="date"><a href="#">FBI 2019 </a></p>
										<p><a href="https://pdf.ic3.gov/2019_IC3Report.pdf">FBI internet crime report </a></p>
									</li>
								
								</ul>
							</section>
						</div>
						<div class="5u">
							<section id="box2">
								<header>
									
								</header>
								<div> <a href="#" class="image full"><img src="" alt=""></a> </div>
							</section>
						</div>
						<div class="4u">
							<section id="box3">
								<header>
									<h2>des articles externes</h2>
								</header>
								<ul class="style1">
									<li class="first"><a href="https://fr.malwarebytes.com/phishing/">Qu'est-ce que l'hameçonnage ? Types et exemples d'attaques par hameçonnage</a></li>
									<li><a href="https://www.kaspersky.fr/resource-center/definitions/spear-phishing">Qu'est-ce que le phishing ciblé ?</a></li>
									<!--<li><a href="#">Phasellus nec dictum metus in sapien pellentesque congue.</a></li>
									<li><a href="#">Cras vitae metus aliquam risus dictum metus in sapien pharetra.</a></li>
									<li><a href="#">Duis non dictum metus in sapien ante in metus commodo euismod lobortis.</a></li> -->
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>


		</div>
	</body>
</html>