{% load static %}<!DOCTYPE HTML>
<html>
	<head>
		<title>Bienvenue !</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body class="homepage">
		<div id="wrapper">
			<div id="header">
				<div class="container"> 
					
					<!-- Logo -->
					<div id="logo">
						<h1><a href="{% url 'index'%}">AwarePhish</a></h1>
						<span class="font-weight-bolder">Pour ne pas tomber dans le piège !</span>
					</div>
					
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="active"><a href="{% url 'index'%}">page d'accueil</a></li>
							<li><a href="{% url 'conseils' %}">conseils</a></li>
							<li><a href={% if user.is_authenticated %}"{% url 'phishquiz' %}"{% else %}{% url 'signin' %} onclick="return confirm('Vous devez être connecté')"{% endif%}>testez-vous</a></li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'account' %}">Compte</a></li>
								{% else %}
									<a href="{% url 'signup' %}">S'inscrire</a>
								{% endif%}
							</li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'signout' %}">Se déconnecter</a>
								{% else %}
									<a href="{% url 'signin' %}">Se connecter</a>
								{%endif%}
							</li>

						</ul>
					</nav>
				</div>
			</div>
			<!-- /Header -->
			
			<div id="page">
				<div class="container">
					<div class="row">
						<div class="2u text-white">  </div>
						<div class="8u skel-cell-important" id='results'>
							<section id="content" >
								<header>
									<h2>Test de niveau</h2>
								</header>
					
								<form id="level" method="post" class="skel-panels form-horizontal" action="{% url 'result' %}">
									{% csrf_token %}
								{%for quest,value in quiz.items %}
									<br><br><h3><strong class="block">{{ quest.question_text }}</strong></h3>{% if quest.image%}<img style="width:120%;" src="{% static 'quiz/media/'|add:quest.image.url %}">{%else%}{%endif%}
										{% for answer in value %}
											{% if quest.reponses_set.count == 1 %}
												{% if answer.wrong_answers %}<div class="custom-control custom-radio form-group rounded"><input class="custom-control-input"  type="radio" name='question{{quest.id}}' id="question{{quest.id}}_{{answer.wrong_answers}}" value="{{answer.wrong_answers}}"><label for="question{{quest.id}}_{{answer.wrong_answers}}" class="custom-control-label rounded d-block p-3 border bg-light text-dark">{{answer.wrong_answers}}</label></div>{% endif %}
												{% if answer.correct_answer %}<div class="custom-control custom-radio form-group rounded"><input class="custom-control-input" type="radio" name='question{{quest.id}}' id="question{{quest.id}}_{{answer.correct_answer}}" value="{{answer.correct_answer}}"><label for="question{{quest.id}}_{{answer.correct_answer}}" class="custom-control-label rounded d-block p-3 border bg-light text-dark">{{answer.correct_answer}}</label></div>{% endif %}
											{%else%}
												{% if answer.wrong_answers %}<div class="custom-control custom-checkbox form-group rounded"><input class="custom-control-input" type="checkbox" name='{{answer.wrong_answers}}' id="question{{quest.id}}_{{answer.wrong_answers}}"><label class="custom-control-label rounded d-block p-3 border bg-light text-dark " for="question{{quest.id}}_{{answer.wrong_answers}}">{{answer.wrong_answers}}</label></div>{% endif %}
												{% if answer.correct_answer %}<div class="custom-control custom-checkbox form-group rounded"><input class="custom-control-input" type="checkbox" name='{{answer.correct_answer}}' id="question{{quest.id}}_{{answer.correct_answer}}"><label class="custom-control-label btn-outline-dark d-block rounded p-3 bg-light border text-dark" for="question{{quest.id}}_{{answer.correct_answer}}">{{answer.correct_answer}}</label></div>{% endif %}
											{% endif%}
										{% endfor %}<hr>
								{% endfor %}
									<input type="submit" value="Confirmer vos réponses" class="btn btn-default button">
								</form>
							</section>
						</div>
						<div class="2u text-white">  </div>
					</div>
				</div>	
			</div>

			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="5u">
							<section id="box1">
								<header>
									<h2>Contact</h2>		
								</header>
								<ul class="style3">
									<li class="first">
										<p class="btn fa fa-envelope"> Envoyer un mail</p></li>
										<li class="first"><p class="fa btn fa-facebook"> Page facebook</a ></p>
									</li>
								</ul>
							</section>
						</div>
						<div class="3u">
							<section id="box2">
								<header>
									
								</header>
								<div> <a href="#" class="image full"><img src="" alt=""></a> </div>
							</section>
						</div>
						<div class="4u">
							<section id="box3">
								<header>
									<h2>articles externes</h2>
								</header>
								<ul class="style1">
									<li class="first"><a href="https://fr.malwarebytes.com/phishing/">Qu'est-ce que l'hameçonnage ? Types et exemples d'attaques par hameçonnage</a></li>
									<li><a href="https://www.kaspersky.fr/resource-center/definitions/spear-phishing">Qu'est-ce que le phishing ciblé ?</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!---------- scripts------->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="{%static 'quiz/js/skel.min.js' %}"></script>
		<script src="{%static 'quiz/js/skel-panels.min.js' %}"></script>
		<script src="{%static 'quiz/js/init.js' %}"></script>
		
		<script type="text/JavaScript">
			$('#level').submit(function(e){
				e.preventDefault();
				let form = this;
				console.log(
						$(form).serialize()+"&id={% for q,v in quiz.items%}{{q.id}},{%endfor%}");
				$.ajax({
					type: "POST",
					url: {%url 'result' %},
					csrfmiddlewaretoken: "{{ csrf_token }}",
					data:$(form).serialize()+"&id={% for q,v in quiz.items%}{{q.id}},{%endfor%}",
					success: function(data) {
						$('#content').replaceWith(`<header><h2>Vous avez un score de ${data.score}<br><br> vous êtes au ${data.level}</h2></header><p class="font-weight-bolder"> ${data.message}</p><a href="{%url 'conseils'%}" class="button btn btn-default">Lire nos conseils</a>
								<a href="{% url 'signup' %}" class="button btn-default btn">S'inscrire</a>`);
					},
					error: function(data) {
						console.log('error');
						console.log(data);
					},
				});

				
			});
		</script>
		
	</body>
</html>
