{% load static%}<!DOCTYPE HTML>
<html>
	<head>
		<title>Awarephish</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body>
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<div class="container"> 
					
					<!-- Logo -->
					<div id="logo">
						<h1><a href="{% url 'index'%}">AwarePhish</a></h1>
						<span class="font-weight-bolder">Pour ne pas tomber dans le piège !</span>
					</div>
					
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{% url 'index'%}">page d'accueil</a></li>
							<li><a href="{% url 'conseils' %}">conseils</a></li>
							<li><a href={% if user.is_authenticated %}"{% url 'phishquiz' %}"{% else %}{% url 'signin' %} onclick="return confirm('Vous devez être connecté')"{% endif%}>testez-vous</a></li>
							<li class="active">
								{% if user.is_authenticated %}
									<a href="{% url 'account' %}">Compte</a></li>
								{% else %}
									<a href="{% url 'signup' %}">S'inscrire</a>
								{% endif%}
							</li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'signout' %}">Se déconnecter</a>
								{% else %}
									<a href="{% url 'signin' %}">Se connecter</a>
								{%endif%}
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /Header -->
			
			<div id="page">
				<div class="container">
					<div class="row">
						<div class="1u">
							<section id="box1">.</section>
						</div>
						<div class="2u">
							<section id="sidebar1" >
								<header>
									<h2>compte</h2>
								</header>
								<div class="btn-group-vertical">
									<a class="btn btn-dark" href="{% url 'account' %}">Infos</a>
									<a class="btn btn-dark" href="{% url 'homework' %}">Devoirs</a>
									<a class="btn btn-dark " href="{% url 'progress' %}">Progrès</a>
									<a class="btn btn-info active " href="{%url 'parametre'%}">Paramètres</a>
									
								</div>
							</section>
						</div>	
						
						<div class="9u skel-cell-important">
							<section id="content">
								{% if messages %}
								<ul class="messages bg-success text-dark font-weight-bold">
									{% for message in messages%}
									<li >{{message}}</li>
									{%endfor%}
								</ul>
								{%endif%}
								<header><h2>Changer le mot de passe</h2></header>
								<form class="form-horizontal" method="POST">
									{% csrf_token %}
									{% for f in passform %}
									<div class="form-group">
										{{f.errors}}<br>
										<label for="id_{{f.name}}"><strong>{{f.label}}</strong></label>{{f}}
										<span class="helptext">{{f.help_text}}</span>
									</div>
									{%endfor%}
									<input type="submit" value="confirmer" name="pass_change" class="btn btn-dark active">
									</form>
									<hr>
								<header><h2>Changer l'email</h2></header>
								<form class="form-horizontal" method="POST">
									{%csrf_token%}
									{% for f in mailform %}
									<div class="form-group">
										{{f.errors}}<br>
										<label for="id_{{f.name}}"><strong>{{f.label}}</strong></label>{{f}}
										<span class="helptext">{{f.help_text}}</span>
									</div>
									{%endfor%}
									<input type="submit" value="confirmer" name="mail_change" class="btn btn-dark active">
									
								</form>
							</section>
						</div>
						
					</div>
				</div>	
			</div>


			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="5u">
							<section id="box1">
								<header>
									<h2>Contact</h2>		
								</header>
								<ul class="style3">
									<li class="first">
										<p class="btn fa fa-envelope"> Envoyer un mail</p></li>
										<li class="first"><p class="fa btn fa-facebook"> Page facebook</a ></p>
									</li>
								</ul>
							</section>
						</div>
						<div class="3u">
							<section id="box2">
								<header>
									
								</header>
								<div> <a href="#" class="image full"><img src="" alt=""></a> </div>
							</section>
						</div>
						<div class="4u">
							<section id="box3">
								<header>
									<h2>articles externes</h2>
								</header>
								<ul class="style1">
									<li class="first"><a href="https://fr.malwarebytes.com/phishing/">Qu'est-ce que l'hameçonnage ? Types et exemples d'attaques par hameçonnage</a></li>
									<li><a href="https://www.kaspersky.fr/resource-center/definitions/spear-phishing">Qu'est-ce que le phishing ciblé ?</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="{%static 'quiz/js/skel.min.js' %}"></script>
		<script src="{%static 'quiz/js/skel-panels.min.js' %}"></script>
		<script src="{%static 'quiz/js/init.js' %}"></script>
		<script type="text/JavaScript">	
			$(".errorlist").addClass("bg-danger text-white");
			$("#id_new_password1, #id_new_password2, #id_old_password,#id_new_email,#id_current_password").addClass("form-control");
			$('#id_old_mail').addClass("form-control-plaintext");
			$('#id_old_mail').attr('readonly','');
		</script>
	</body>
</html>