{% load static %}<!DOCTYPE HTML>

<html>
	<head>
		<title>Quiz</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		
		
		<noscript>
			<link rel="stylesheet" href="{% static 'quiz/css/skel-noscript.css' %}" />
			<link rel="stylesheet" href="{% static 'quiz/css/style.css'%}" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body data-spy="scroll" data-target="wrapper">
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<div class="container"> 
					
					<!-- Logo -->
					<div id="logo">
						<h1><a href="#">Awarephish</a></h1>
						<span class="font-weight-bolder">pour ne pas tomber dans le piège</span>
					</div>
					
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{% url 'index'%}">page d'accueil</a></li>
							<li><a href="{% url 'conseils' %}">conseils</a></li>
							<li class="active"><a href={% if user.is_authenticated %}"{% url 'phishquiz' %}"{% else %}{% url 'signin' %} onclick="return confirm('Vous devez être connecté')"{% endif%}>testez-vous</a></li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'account' %}">Compte</a></li>
								{% else %}
									<a href="{% url 'signup' %}">S'inscrire</a>
								{% endif%}
							</li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'signout' %}">Se déconnecter</a>
								{% else %}
									<a href="{% url 'signin' %}">Se connecter</a>
								{%endif%}
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /Header -->
			
			<div id="page">
				<div class="container">
					<div class="row">
						<div class="2u">

						</div>
						<div class="8u skel-cell-important">
							<section id="content" >
								<header>
									<h2>Quiz de phishing</h2>
								</header>
								<form id="quiz" method="post" class="skel-panels" action="{% url 'resultquiz' %}">
									{% csrf_token %}
									{%for quest,answers in quiz.items %}
									<br><br><h3 class="col-auto"><strong class="block">{{ quest.question_text }} </strong></h3><br><br>{% if quest.image %}<img style="width:120%;" src="{% static 'quiz/media/'|add:quest.image.url%}"><br>{%else%}{%endif%}
									{% for rep in answers %}

										{% if quest.type_question == "vrai/faux" or quest.reponses_set.count == 1 %}
											{% if rep.wrong_answers %}<div class="custom-control custom-radio form-group rounded"><input class="custom-control-input"  type="radio" name='question{{quest.id}}' id="question{{quest.id}}_{{rep.wrong_answers}}" value="{{rep.wrong_answers}}"><label for="question{{quest.id}}_{{rep.wrong_answers}}" class="custom-control-label rounded d-block p-3 border bg-light text-dark">{{rep.wrong_answers}}</label></div>{% endif %}
											{% if rep.correct_answer %}<div class="custom-control custom-radio form-group rounded"><input class="custom-control-input" type="radio" name='question{{quest.id}}' id="question{{quest.id}}_{{rep.correct_answer}}" value="{{rep.correct_answer}}"><label for="question{{quest.id}}_{{rep.correct_answer}}" class="custom-control-label rounded d-block p-3 border bg-light text-dark">{{rep.correct_answer}}</label></div>{% endif %}
										{%else%}
										{% if rep.wrong_answers %}<div class="custom-control custom-checkbox form-group rounded"><input class="custom-control-input"  type="checkbox" name='{{rep.wrong_answers}}' id="question{{quest.id}}_{{rep.wrong_answers}}"><label class="custom-control-label rounded d-block p-3 border bg-light text-dark" for="question{{quest.id}}_{{rep.wrong_answers}}">{{rep.wrong_answers}}</label></div>{% endif %}
										{% if rep.correct_answer %}<div class="custom-control custom-checkbox form-group rounded"><input class="custom-control-input"  type="checkbox" name='{{rep.correct_answer}}' id="question{{quest.id}}_{{rep.correct_answer}}"><label class="custom-control-label rounded d-block p-3 border bg-light text-dark" for="question{{quest.id}}_{{rep.correct_answer}}">{{rep.correct_answer}}</label></div>{% endif %}
										{%endif%}
										{% endfor %}<hr>

									
								{% endfor %}
								<input type="submit" class="btn btn-default button" value="Valider vos réponses"> 
								</form>
								</p>
							</section>
						</div>
						<div class="2u">			</div>
					</div>

				</div>	
			</div>


			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="5u">
							<section id="box1">
								<header>
									<h2>Contact</h2>		
								</header>
								<ul class="style3">
									<li class="first">
										<p class="btn fa fa-envelope"> Envoyer un mail</p></li>
										<li class="first"><p class="fa btn fa-facebook"> Page facebook</a ></p>
									</li>
								</ul>
							</section>
						</div>
						<div class="3u">
							<section id="box2">
								<header>
									
								</header>
								<div> <a href="#" class="image full"><img src="" alt=""></a> </div>
							</section>
						</div>
						<div class="4u">
							<section id="box3">
								<header>
									<h2>articles externes</h2>
								</header>
								<ul class="style1">
									<li class="first"><a href="https://fr.malwarebytes.com/phishing/">Qu'est-ce que l'hameçonnage ? Types et exemples d'attaques par hameçonnage</a></li>
									<li><a href="https://www.kaspersky.fr/resource-center/definitions/spear-phishing">Qu'est-ce que le phishing ciblé ?</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="{%static 'quiz/js/skel.min.js' %}"></script>
		<script src="{%static 'quiz/js/skel-panels.min.js' %}"></script>
		<script src="{%static 'quiz/js/init.js' %}"></script>
		
		<script type="text/JavaScript">
			$('#quiz').submit(function(e)
			{
				e.preventDefault();
				let form = this;
				console.log(
						$(form).serialize()+"&id={{quiztest.id}}");
				$.ajax({
					type: "POST",
					url: {%url 'resultquiz' %},
					csrfmiddlewaretoken: "{{ csrf_token }}",
					data:$(form).serialize()+"&id={{quiztest.id}}",
					success: function(data) {
						$('#content').replaceWith(`<div class="progress" style="height: 25px;"><div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:${Math.floor((data.actual/data.next)*100)}%; color:#323338; font-weight:bold; text-align : center;">${(data.actual === 300)?`Bravo ! Vous avez atteint le niveau maximal !`:`Il vous reste ${Math.round(((data.next-data.actual)+Number.EPSILON)*100)/100} points ${(data.next===300)?"pour compléter la barre":"avant le prochain niveau"}`}</div></div><br><header><h2>Vous avez eu un score de ${Math.round((data.result+Number.EPSILON)*100)/100}<br><br>Votre score est ${Math.round((data.actual+Number.EPSILON)*100)/100} <br><br> vous êtes au ${data.level}</h2></header><a href="{%url 'homework'%}" class="button btn btn-default">Consulter vos devoirs</a>`);
						document.documentElement.scrollTop = 250;
					},
					error: function(data) {
						console.log('error');
						console.log(data);
					},
				});

				
			});
			
			

		</script>
		</body>
</html>