{% load static %}<!DOCTYPE HTML>
<!--
	Synchronous by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Synchronous by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		
		
		<noscript>
			<link rel="stylesheet" href="{% static 'quiz/css/skel-noscript.css' %}" />
			<link rel="stylesheet" href="{% static 'quiz/css/style.css'%}" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body data-spy="scroll" data-target="wrapper">
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<div class="container"> 
					
					<!-- Logo -->
					<div id="logo">
						<h1><a href="#">Awarephish</a></h1>
						<span class="font-weight-bolder">pour ne pas tomber dans le piège</span>
					</div>
					
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{% url 'index'%}">page d'accueil</a></li>
							<li><a href="{% url 'conseils' %}">conseils</a></li>
							<li class="active"><a href={% if user.is_authenticated %}"{% url 'phishquiz' %}"{% else %}{% url 'signin' %} onclick="return confirm('Vous devez être connecté')"{% endif%}>testez-vous</a></li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'account' %}">Compte</a></li>
								{% else %}
									<a href="{% url 'signup' %}">S'inscrire</a>
								{% endif%}
							</li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'signout' %}">Se déconnecter</a>
								{% else %}
									<a href="{% url 'signin' %}">Se connecter</a>
								{%endif%}
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /Header -->
			
			<div id="page">
				<div class="container">
					<div class="row">
						<div class="2u">

						</div>
						<div class="8u skel-cell-important">
							<section id="content" >
								<header>
									<h2>Quiz de phishing</h2>
								</header>
								<form id="quiz" method="post" class="skel-panels" action="{% url 'resultquiz' %}">
									{% csrf_token %}
									{%for quest,answers in quiz.items %}
									<h3><strong class="block">{{ quest.question_text }} nous avons vu que puisque les questions se multiplient à vitesse folle que pensez-vous du binome de merde que vous avez  alala je te plains, je te vois dns 10 secondes ?</strong></h3><img src="{% if quest.image %}{% static 'quiz/images/dontTakeTheBite.jpg'%}{%else%}{%endif%}">
									{% for incorrect,correct in answers.items %}
										
										{% if quest.reponses_set.count == 1 %}
										{% if incorrect %}<div class="custom-control custom-radio form-group rounded"><input class="custom-control-input"  type="radio" name='question{{quest.id}}' id="question{{quest.id}}_{{incorrect}}" value="{{incorrect}}"><label for="question{{quest.id}}_{{incorrect}}" class="custom-control-label rounded d-block p-3 border bg-light text-dark">{{incorrect}}</label></div>{% endif %}
												{% if correct %}<div class="custom-control custom-radio form-group rounded"><input class="custom-control-input" type="radio" name='question{{quest.id}}' id="question{{quest.id}}_{{correct}}" value="{{correct}}"><label for="question{{quest.id}}_{{correct}}" class="custom-control-label rounded d-block p-3 border bg-light text-dark">{{correct}}</label></div>{% endif %}
										{%else%}
											{% if incorrect %}<div class="custom-control custom-checkbox form-group rounded"><input class="custom-control-input"  type="checkbox" name='{{incorrect}}' id="question{{quest.id}}_{{correct}}"><label class="custom-control-label rounded d-block p-3 border bg-light text-dark" for="question{{quest.id}}_{{correct}}">{{incorrect}}inco</label></div>{% endif %}
											{% if correct %}<div class="custom-control custom-checkbox form-group rounded"><input class="custom-control-input"  type="checkbox" name='{{correct}}' id="question{{quest.id}}_{{incorrect}}"><label class="custom-control-label rounded d-block p-3 border bg-light text-dark" for="question{{quest.id}}_{{incorrect}}">{{correct}}</label></div>{% endif %}
										{%endif%}
										{% endfor %}

									
								{% endfor %}
								<input type="submit" class="btn btn-default button" value="Valider vos réponses"> 
								</form>
								</p>
							</section>
						</div>
						<div class="2u">			</div>
					</div>

				</div>	
			</div>


			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="3u">
							<section id="box1">
								<header>
									<h2>actualités</h2>		
								</header>
								<ul class="style3">
									<li class="first">
										<p class="date"><a href="#">FBI 2019 </a></p>
										<p><a href="https://pdf.ic3.gov/2019_IC3Report.pdf">FBI internet crime report </a></p>
									</li>
								
								</ul>
							</section>
						</div>
						<div class="5u">
							<section id="box2">
								<header>
									
								</header>
								<div> <a href="#" class="image full"><img src="" alt=""></a> </div>
							</section>
						</div>
						<div class="4u">
							<section id="box3">
								<header>
									<h2>des articles externes</h2>
								</header>
								<ul class="style1">
									<li class="first"><a href="https://fr.malwarebytes.com/phishing/">Qu'est-ce que l'hameçonnage ? Types et exemples d'attaques par hameçonnage</a></li>
									<li><a href="https://www.kaspersky.fr/resource-center/definitions/spear-phishing">Qu'est-ce que le phishing ciblé ?</a></li>
									<!--<li><a href="#">Phasellus nec dictum metus in sapien pellentesque congue.</a></li>
									<li><a href="#">Cras vitae metus aliquam risus dictum metus in sapien pharetra.</a></li>
									<li><a href="#">Duis non dictum metus in sapien ante in metus commodo euismod lobortis.</a></li> -->
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="{%static 'quiz/js/skel.min.js' %}"></script>
		<script src="{%static 'quiz/js/skel-panels.min.js' %}"></script>
		<script src="{%static 'quiz/js/init.js' %}"></script>
		
		<script type="text/JavaScript">
			$('#quiz').submit(function(e)
			{
				e.preventDefault();
				let form = this;
				console.log(
						$(form).serialize()+"&id={{quiztest.id}}");
				$.ajax({
					type: "POST",
					url: {%url 'resultquiz' %},
					csrfmiddlewaretoken: "{{ csrf_token }}",
					data:$(form).serialize()+"&id={{quiztest.id}}",
					success: function(data) {
						$('#content').replaceWith(`<div class="progress" style="height: 25px;"><div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; color:#323338; font-weight:bold; text-align : center;">Il vous reste ${10-data.result} avant le prochain niveau</div></div><br><header><h2>Vous avez eu un score de ${data.result}<br><br> vous êtes au ${data.level}</h2></header><a href="{%url 'homework'%}" class="button btn btn-default">Consulter vos devoirs</a>`);
					},
					error: function(data) {
						console.log('error');
						console.log(data);
					},
				});

				
			});
			
			

		</script>
		</body>
</html>