{% load static %}<!DOCTYPE HTML>
<html>
	<head>
		<title>Inscription</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<style>
			
			
			/* The message box is shown when the user clicks on the password field */
			#message {
			  display:none;
			  background: rgba(0,0,0,0);
			  color: #000;
			  position: relative;
			  padding: 20px;
			  margin-top: 10px;
			}
			
			#message p {
			  padding: 10px 35px;
			  font-size: 18px;
			}
			
			/* Add a green text color and a checkmark when the requirements are right */
			.valid {
			  color: green;
			}
			
			.valid:before {
			  position: relative;
			  left: -35px;
			  content: "✔";
			}
			
			/* Add a red text color and an "x" when the requirements are wrong */
			.invalid {
			  color: red;
			}
			
			.invalid:before {
			  position: relative;
			  left: -35px;
			  content: "✖";
			}
			</style>
		<noscript>
			<link rel="stylesheet" href="{% static 'quiz/css/skel-noscript.css' %}" />
			<link rel="stylesheet" href="{% static 'quiz/css/style.css'%}" />
		</noscript>
	</head>
	<body>
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<div class="container"> 
					
					<!-- Logo -->
					<div id="logo">
						<h1><a href="{% url 'index'%}">AwarePhish</a></h1>
						<span class="font-weight-bolder">Pour ne pas tomber dans le piège !</span>
					</div>
					
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{% url 'index'%}">page d'accueil</a></li>
							<li><a href="{% url 'conseils' %}">conseils</a></li>
							<li><a href={% if user.is_authenticated %}"{% url 'phishquiz' %}"{% else %}{% url 'signin' %} onclick="return confirm('Vous devez être connecté')"{% endif%}>testez-vous</a></li>
							<li class="active">
								{% if user.is_authenticated %}
									<a href="{% url 'account' %}">Compte</a></li>
								{% else %}
									<a href="{% url 'signup' %}">S'inscrire</a>
								{% endif%}
							</li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'signout' %}">Se déconnecter</a>
								{% else %}
									<a href="{% url 'signin' %}">Se connecter</a>
								{%endif%}
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /Header -->
			
			<div id="page">
				<div class="container">
					<div class="row">
						<div class="-2u skel-cell-important col-sm-10">
							<section>
								<header>
									<h2>Inscription</h2>
								</header>
								<div class="8u skel-cell-important">
									<form method="POST" class="form-horizontal">{% csrf_token %}
										{% for f in form %}
										
										<div class="form-group">
											{{f.errors}}<br>
											<label for="id_{{f.name}}"><strong>{{f.label}}</strong></label>{{f}}
										</div>
										{% if f.name == "password1" %}<div id="message">
											<h3>Votre mot de passe doit contenir au moins :</h3>
											<p id="letter" class="invalid">Une lettre <span class="font-weight-bold">minuscule</span></p>
											<p id="capital" class="invalid">Une lettre <span class="font-weight-bold">majuscule</span></p>
											<p id="number" class="invalid">Un <span class="font-weight-bold">nombre</span></p>
											<p id="length" class="invalid">Au minimum <span class="font-weight-bold">8 caractères</span></p>
										  </div>{% endif%}
										{%endfor%}
										<input type="submit" value="S'inscrire" class="button btn btn-block btn-default">
									</form>
								</div>
							</section>
						</div>
					</div>

				</div>	
			</div>

			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="5u">
							<section id="box1">
								<header>
									<h2>Contact</h2>		
								</header>
								<ul class="style3">
									<li class="first">
										<p class="btn fa fa-envelope"> Envoyer un mail</p></li>
										<li class="first"><p class="fa btn fa-facebook"> Page facebook</a ></p>
									</li>
								</ul>
							</section>
						</div>
						<div class="3u">
							<section id="box2">
								<header>
									
								</header>
								<div> <a href="#" class="image full"><img src="" alt=""></a> </div>
							</section>
						</div>
						<div class="4u">
							<section id="box3">
								<header>
									<h2>articles externes</h2>
								</header>
								<ul class="style1">
									<li class="first"><a href="https://fr.malwarebytes.com/phishing/">Qu'est-ce que l'hameçonnage ? Types et exemples d'attaques par hameçonnage</a></li>
									<li><a href="https://www.kaspersky.fr/resource-center/definitions/spear-phishing">Qu'est-ce que le phishing ciblé ?</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="{%static 'quiz/js/skel.min.js' %}"></script>
		<script src="{%static 'quiz/js/skel-panels.min.js' %}"></script>
		<script src="{%static 'quiz/js/init.js' %}"></script>
		
		<script type="text/Javascript">
			$(".errorlist").addClass("bg-danger text-white");
			$("#id_username, #id_password1, #id_email, #id_password2").addClass("form-control");
		</script>
		<script>
			var myInput = document.getElementById("id_password1");
			var letter = document.getElementById("letter");
			var capital = document.getElementById("capital");
			var number = document.getElementById("number");
			var length = document.getElementById("length");
			
			// When the user clicks on the password field, show the message box
			myInput.onfocus = function() {
			  document.getElementById("message").style.display = "block";
			}
			
			// When the user clicks outside of the password field, hide the message box
			myInput.onblur = function() {
			  document.getElementById("message").style.display = "none";
			}
			
			// When the user starts to type something inside the password field
			myInput.onkeyup = function() {
			  // Validate lowercase letters
			  var lowerCaseLetters = /[a-z]/g;
			  if(myInput.value.match(lowerCaseLetters)) {  
				letter.classList.remove("invalid");
				letter.classList.add("valid");
			  } else {
				letter.classList.remove("valid");
				letter.classList.add("invalid");
			  }
			  
			  // Validate capital letters
			  var upperCaseLetters = /[A-Z]/g;
			  if(myInput.value.match(upperCaseLetters)) {  
				capital.classList.remove("invalid");
				capital.classList.add("valid");
			  } else {
				capital.classList.remove("valid");
				capital.classList.add("invalid");
			  }
			
			  // Validate numbers
			  var numbers = /[0-9]/g;
			  if(myInput.value.match(numbers)) {  
				number.classList.remove("invalid");
				number.classList.add("valid");
			  } else {
				number.classList.remove("valid");
				number.classList.add("invalid");
			  }
			  
			  // Validate length
			  if(myInput.value.length >= 8) {
				length.classList.remove("invalid");
				length.classList.add("valid");
			  } else {
				length.classList.remove("valid");
				length.classList.add("invalid");
			  }
			}
			</script>
	</body>
</html>