{% load static %}<!DOCTYPE HTML>
<html>
	<head>
		<title>Synchronous by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<noscript>
			<link rel="stylesheet" href="{% static 'quiz/css/skel-noscript.css' %}" />
			<link rel="stylesheet" href="{% static 'quiz/css/style.css'%}" />
		</noscript>
	</head>
	<body>
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<div class="container"> 
					
					<!-- Logo -->
					<div id="logo">
						<h1><a href="{% url 'index'%}">AwarePhish</a></h1>
						<span class="font-weight-bolder">Pour ne pas tomber dans le piège !</span>
					</div>
					
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{% url 'index'%}">page d'accueil</a></li>
							<li><a href="{% url 'conseils' %}">conseils</a></li>
							<li><a href={% if user.is_authenticated %}"{% url 'phishquiz' %}"{% else %}{% url 'signin' %} onclick="return confirm('Vous devez être connecté')"{% endif%}>testez-vous</a></li>
							<li class="active">
								{% if user.is_authenticated %}
									<a href="{% url 'account' %}">Compte</a></li>
								{% else %}
									<a href="{% url 'signup' %}">S'inscrire</a>
								{% endif%}
							</li>
							<li>
								{% if user.is_authenticated %}
									<a href="{% url 'signout' %}">Se déconnecter</a>
								{% else %}
									<a href="{% url 'signin' %}">Se connecter</a>
								{%endif%}
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /Header -->
			
			<div id="page">
				<div class="container">
					<div class="row">
						<div class="-2u skel-cell-important col-sm-10">
							<section>
								<header>
									<h2>Inscription</h2>
								</header>
								<div class="8u skel-cell-important">
									<form method="POST" class="form-horizontal">{% csrf_token %}
										{% for f in form %}
										
										<div class="form-group">
											{{f.errors}}<br>
											<label for="id_{{f.name}}"><strong>{{f.label}}</strong></label>{{f}}
										</div>
										{%endfor%}
										<input type="submit" value="S'inscrire" class="button btn btn-block btn-default">
									</form>
								</div>
							</section>
						</div>
					</div>

				</div>	
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="{%static 'quiz/js/skel.min.js' %}"></script>
		<script src="{%static 'quiz/js/skel-panels.min.js' %}"></script>
		<script src="{%static 'quiz/js/init.js' %}"></script>
		
		<script type="text/Javascript">
			$(".errorlist").addClass("bg-danger text-white");
			$("#id_username, #id_password1, #id_email, #id_password2").addClass("form-control");
		</script>
	</body>
</html>